Django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
drf-spectacular
python-decouple
celery
redis
psycopg2-binary
gunicorn
django-cors-headers
django-mptt
Pillow
ruff
pytest
pytest-django
dj-database-url
