asgiref==3.10.0
channels==4.0.0
channels-redis==4.1.0
dj-database-url==3.0.1
Django==4.2.26
djangorestframework==3.16.1
django-filter==24.1
gunicorn==21.2.0
msgpack==1.1.2
pillow==10.3.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
redis==5.0.1
sqlparse==0.5.3
whitenoise==6.11.0

google-generativeai
