# Django and REST Framework
Django>=5.2.8
djangorestframework>=3.16.1

# Database
psycopg2-binary>=2.9.9

# Environment variables
python-dotenv>=1.2.1

# For token authentication (optional, but recommended)
djangorestframework-simplejwt>=5.3.0

